header {
    background-image: url("images/banner.jpg") !important;
    background-size: cover;
    /* Cubrir todo el header */
    background-position: center;
    /* Centrar la imagen */
    background-repeat: no-repeat;
    /* No repetir la imagen */
    color: white;
    text-align: center;
    padding: 60px 0;
    /* Añadir espacio dentro del header */
    min-height: 300px;
}

header h1 {
    background-color: rgba(0, 229, 255, 0.427);
    /* Fondo semitransparente para el texto */
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

#logo {
    max-width: 600px; /* Tamaño máximo del logo en pantallas más grandes */
    width: 20%; /* Tamaño relativo en pantallas más grandes */
    height: auto; /* Mantiene la proporción original */
}

@media (max-width: 768px) {
    #logo {
        max-width: 600px; /* Tamaño máximo en dispositivos móviles */
        width: 60%; /* Ajuste de ancho relativo */
    }
}

#menu button{
    color: white !important;
}

#menu button:hover{
    background-color: white !important;
    border-color: aqua;
    color: aqua !important;
}

#precios .card-body:hover{
    box-shadow: -1px -1px 34px -9px rgba(22,255,213,0.75);
}

#promociones .card-body:hover{
    box-shadow: -1px -1px 34px -9px rgba(22,255,213,0.75);
}

#tratamientos .card-body:hover{
    box-shadow: -1px -1px 34px -9px rgba(22,255,213,0.75);
}