<!-- Promociones Section -->
<section id="promociones" class="container my-5">
    <h2 class="text-center mb-4">Promociones</h2>
    <div class="row">
        <!-- Promoción 1 -->
        <div class="col-md-6 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-primary">Recomienda y Gana</h3>
                    <p class="card-text">
                        Recomienda a 2 personas y te regalamos una limpieza dental.
                    </p>
                </div>
            </div>
        </div>
        
        <!-- Promoción 2 -->
        <div class="col-md-6 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-primary">Promoción de Octubre</h3>
                    <p class="card-text">
                        Ven disfrazado en el mes de octubre y recibe un 20% de descuento en tratamientos de saneamiento básico.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
